# web framework
django
dj-database-url
django-anymail[mailgun]
django-widget-tweaks

# database / storage
psycopg2
django-storages
boto3

# static file serving
whitenoise

# web server
gunicorn

# image processor
Pillow

# audio tagging
mutagen

# config
python-dotenv

# testing
tox
coverage

# linter
flake8
