{% extends "base.html" %}
{% block main %}
<!-- Audio -->
<div class="column has-text-centered is-7">
  {% for audio in audio_list %}
  <!-- Player -->
  <div class="media">
    <div class="media-left">
      <figure class="image is-128x128">
        <img
          src="https://s3-ap-southeast-2.amazonaws.com/wisdom-storage/{{ audio.thumbnail }}"
          alt="Image"
        />
      </figure>
    </div>
    <div class="media-content">
      <h2 class="title">{{ audio.name }}</h2>
    </div>
  </div>
  <div>
    <audio controls>
      <source
        src="https://s3-ap-southeast-2.amazonaws.com/wisdom-storage/{{ audio.audiofile }}"
        type="audio/mpeg"
      />
    </audio>
  </div>
  <!-- Description -->
  <div class="notification">
    <p class="subtitle is-5">Description</p>
    <hr>
    <p>{{ audio.description }}</p>
  </div>
  {% empty %}
  <p>Selected audio not found...</p>
  {% endfor %}
</div>
<!-- Recommendations -->
<div class="column is-3">
  <div>
    <h3 class="subtitle">RECOMMENDED AUDIOS</h3>
  </div>
  <hr>
  {% for other_audio in other_audios %}
  <a href="{% url 'auditorium' id=other_audio.uuid %}">
    <article class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img
            src="https://s3-ap-southeast-2.amazonaws.com/wisdom-storage/{{ other_audio.thumbnail }}"
            alt="Image"
          />
        </figure>
      </div>
      <div class="media-content">
        <p class="subtitle is-5">{{ other_audio.name }}</p>
      </div>
    </article>
  </a>
  <hr>
  {% empty %}
  <p>No other audios available...</p>
  {% endfor %}
  </div>
</div>
{% endblock %}