{% load widget_tweaks %}
<form method="POST">
  {% csrf_token %}
  {% if form.username %}
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      {{ form.username|attr:"class:input is-info"|attr:"type:text"|attr:"placeholder:Name" }}
      <span class="icon is-small is-left">
        <i class="fa fa-user"></i>
      </span>
    </p>
  </div>
  {% endif %}
  {% if form.email %}
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      {{ form.email|attr:"class:input is-info"|attr:"type:email"|attr:"placeholder:Email" }}
      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
    </p>
  </div>
  {% endif %}
  <!-- for login page only -->
  {% if form.password %}
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      {{ form.password|attr:"class:input is-info"|attr:"type:password"|attr:"placeholder:Password" }}
      <span class="icon is-small is-left">
        <i class="fa fa-lock"></i>
      </span>
    </p>
  </div>
  {% endif %}
  <!-- for signup page only -->
  {% if form.password1 %}
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      {{ form.password1|attr:"class:input is-info"|attr:"type:password"|attr:"placeholder:Password" }}
      <span class="icon is-small is-left">
        <i class="fa fa-lock"></i>
      </span>
    </p>
  </div>
  {% endif %}
  {% if form.password2 %}
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      {{ form.password2|attr:"class:input is-info"|attr:"type:password"|attr:"placeholder:Confirm password" }}
      <span class="icon is-small is-left">
        <i class="fa fa-lock"></i>
      </span>
    </p>
  </div>
  {% endif %}
  <!-- for reset password page only -->
  {% if form.new_password1 %}
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      {{ form.new_password1|attr:"class:input is-info"|attr:"type:password"|attr:"placeholder:New password" }}
      <span class="icon is-small is-left">
        <i class="fa fa-lock"></i>
      </span>
    </p>
  </div>
  {% endif %}
  {% if form.new_password2 %}
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      {{ form.new_password2|attr:"class:input is-info"|attr:"type:password"|attr:"placeholder:Confirm new password" }}
      <span class="icon is-small is-left">
        <i class="fa fa-lock"></i>
      </span>
    </p>
  </div>
  {% endif %}
  <!-- error messages -->
  {% include 'registration/_form_error.html' %}
  <!-- signup page only -->
  <div class="field">
    <input class="button is-info" type="submit" value="{{ submit_label }}"></button>
  </div>
  <!-- login page only -->
  {% if form.password %}
  <div class="field">
    <p class="button is-light"><a href="{% url 'signup' %}">Sign Up</a></p>
    <p class="button is-light"><a href="{% url 'password_reset' %}">Reset Password</a></p>
  </div>
  {% endif %}
  </div>
</form>